{{ define "appControl" }}
{{ template "head" }}
</head>

<body>
    <div class="ui container">
        <p><a href="/apps">&lt; All apps</a></p>
        <h2 class="ui header title" id="app_name">{{ .SelectedAppID }}</h2>
        <h3 class="ui header title" id="control_name">{{.ControlID}}</h3>
        <div class="ui segment" id="control_desc"></div>
        <div class="ui middle aligned divided list" id="results"></div>

        <form class="ui form">
            <div class="field">
                <label>Notes:</label>
                <textarea name="notes" id="notes"></textarea>
            </div>
            <div class="ui center aligned basic segment">
                <div class="ui left floated button" id="btnCancel" tabindex="0">Cancel</div>
                <div class="ui right floated primary button" tabindex="1">Save</div>
            </div>
        </form>

        <script>
        function showAppMetadata() {
            var metadata = $.get({
                url: '{{.ApiURL}}/apps/{{.SelectedAppID}}/controls/{{.ControlID}}/',
                dataType: 'json'
            });

            metadata.done(function(data){
                if (!data) {
                    return false;
                }

                $("#app_name").html(data.app_name);
                $("#control_name").html(data.control_id + " - " + data.control_name);
                $("#control_desc").html(data.description);

                console.log(data);
            });
        }

        function showControls() {
            var controls = $.get({
                url: '{{.ApiURL}}/apps/{{.SelectedAppID}}/controls', 
                dataType: 'json'
            });
            
            controls.done(function(data) {
                $('#results').empty();

                if (!data) {
                    $('#results').append($("<div>", {class:"item", text:"(no controls found)"}));
                    return false;
                }

                if (data.error) {
                    alert(data.error);
                    return false;
                }

                $.each(data, function(index, element) {
                    content = $('<div>', {
                        class: "content",
                        text: element.ControlID + " - " + element.Name 
                    });
                    btn = $('<div>', {
                        class: "ui button",
                        text: "Validate"
                    });
                    rightContent = $('<div>', {
                        class: "right floated content"
                    });
                    rightContent.append(btn);
                    item = $('<div>', {
                        class: "item"
                    });
                    item.append(rightContent);
                    item.append(content);
                    
                    $('#results').append(item);
                });
                console.log(data);
            });
            }

        $(window).on('load', function() {
            $("#btnCancel").on("click", function(event) {
                event.preventDefault();
                window.location.href="/apps/{{.SelectedAppID}}/";
                return false;
            });
            showAppMetadata();
            //showControls();
        });
        </script>
    </div>
</body>
</html>
{{ end }}