{{ define "appControl" }}
{{ template "head" }}
</head>

<body>
    <div class="ui container">
        <p><a href="/apps">&lt; All apps</a></p>
        <h2 class="ui header title" id="app_name">{{ .SelectedAppID }}</h2>
        <h3 class="ui header title" id="control_name">{{.ControlID}}</h3>
        <div class="ui segment" id="control_desc"></div>
        <div class="ui middle aligned divided list" id="results"></div>

        <form class="ui form">
            <div class="field">
                <label>Notes:</label>
                <textarea name="notes" id="notes"></textarea>
            </div>
            <div class="ui center aligned basic segment">
                <div class="ui left floated button" id="btnCancel" tabindex="0">Cancel</div>
                <div class="ui right floated primary button" id="btnSave" tabindex="1">Save</div>
            </div>
        </form>

        <script>
        function showAppMetadata() {
            var metadata = $.get({
                url: '{{.ApiURL}}/apps/{{.SelectedAppID}}/controls/{{.ControlID}}/',
                dataType: 'json'
            });

            metadata.done(function(data){
                if (!data) {
                    return false;
                }

                $("#app_name").html(data.app_name);
                $("#control_name").html(data.control_id + " - " + data.control_name);
                $("#control_desc").html(data.description);
                $("#notes").html(data.notes);

                console.log(data);
            });
        }

        function saveControl() {

            var data = {
                notes: $("#notes").val(),
                is_done: true
            };

            var controls = $.post({
                url: '{{.ApiURL}}/apps/{{.SelectedAppID}}/controls/{{.ControlID}}/', 
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(data)
            });
            
            controls.done(function(data) {
                if (data.error) {
                    alert(data.error);
                    return false;
                }

                console.log(data);
                window.location.href = '/apps/{{.SelectedAppID}}/';
                return false;
            });
            }

        $(window).on('load', function() {
            $("#btnCancel").on("click", function(event) {
                event.preventDefault();
                window.location.href="/apps/{{.SelectedAppID}}/";
                return false;
            });
            showAppMetadata();
            $("#btnSave").on("click", function(event) {
                event.preventDefault();
                return saveControl();
            });
        });
        </script>
    </div>
</body>
</html>
{{ end }}