{{ define "apps" }}
{{ template "head" }}
</head>

<body>
    <div class="ui container">
        <h1 class="ui header">Applications</h1>
        <div class="ui segment">
            <div class="ui list" id="appsList"></div>
        </div>
        <div class="ui segment">
            <a class="ui button addNew" href="/apps/new">Add new</a>
        </div>
    </div>
</body>
</html>
{{ end }}