{{ define "controls" }}
{{ template "head" }}
</head>

<body>
    <div class="ui container">
        <p><a href="/apps">&lt; All apps</a></p>
        <h2 class="ui header title">Show template for app {{ .SelectedAppID }}</h2>
        <div class="ui middle aligned divided list" id="results"></div>

        <script>
        function showAppMetadata() {
            var metadata = $.get({
                url: '{{.ApiURL}}/apps/{{.SelectedAppID}}',
                dataType: 'json'
            });

            metadata.done(function(data){
                if (!data) {
                    return false;
                }

                $(".ui.header.title").html(data.app_name);
                
                console.log(data);
            });
        }

        function showControls() {
            var controls = $.get({
                url: '{{.ApiURL}}/apps/{{.SelectedAppID}}/controls', 
                dataType: 'json'
            });
            
            controls.done(function(data) {
                $('#results').empty();

                if (!data) {
                    $('#results').append($("<div>", {class:"item", text:"(no controls found)"}));
                    return false;
                }

                if (data.error) {
                    alert(data.error);
                    return false;
                }

                $.each(data, function(index, element) {
                    content = $('<div>', {
                        class: "content",
                        text: element.control_id + " - " + element.control_name
                    });
                    btn = $('<div>', {
                        class: "ui button validate",
                        text: "Validate",
                        "data-id": element.control_id
                    });
                    rightContent = $('<div>', {
                        class: "right floated content"
                    });
                    rightContent.append(btn);
                    item = $('<div>', {
                        class: "item"
                    });
                    item.append(rightContent);
                    item.append(content);
                    
                    $('#results').append(item);
                });
                console.log(data);

                $(".ui.button.validate").on("click", function(event) {
                    event.preventDefault();

                    var lnk = "/apps/{{.SelectedAppID}}/controls/"+$(this).data().id+"/";
                    window.location.href = lnk;

                    return false;
                });
            });
            }

        $(window).on('load', function() {
            showAppMetadata();
            showControls();
        });
        </script>
    </div>
</body>
</html>
{{ end }}