{{ define "controls" }}
{{ template "head" }}
</head>

<body>
    <div class="ui container">
        <p><a href="/apps">&lt; All apps</a></p>
        <h2 class="ui header title">Show template for app {{ .SelectedAppID }}</h2>
        <div class="ui middle aligned divided list" id="results"></div>

        <div class="ui accordion">
            <div class="title">
                <i class="dropdown icon"></i>
                Applied filters
            </div>
            <div class="content">
                <div class="ui middle aligned divided list" id="savedFilters">
                    <div class="item">
                        <div class="content">Only handled centrally</div>
                        <div class="right floated content" id="only_handle_centrally"></div>
                    </div>
                    <div class="item">
                        <div class="content">Owner</div>
                        <div class="right floated content" id="handled_centrally_by"></div>
                    </div>
                    <div class="item">
                        <div class="content">Exclude controls for only external supplier</div>
                        <div class="right floated content" id="exclude_for_external_supplier"></div>
                    </div>
                    <div class="item">
                        <div class="content">Software development relevant</div>
                        <div class="right floated content" id="software_development_relevant"></div>
                    </div>
                    <div class="item">
                        <div class="content">Cloud only</div>
                        <div class="right floated content" id="cloud_only"></div>
                    </div>
                    <div class="item">
                        <div class="content">Physical security only</div>
                        <div class="right floated content" id="physical_security_only"></div>
                    </div>
                    <div class="item">
                        <div class="content">Personal security only</div>
                        <div class="right floated content" id="personal_security_only"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
        function showAppMetadata() {
            var metadata = $.get({
                url: '{{.ApiURL}}/apps/{{.SelectedAppID}}',
                dataType: 'json'
            });

            metadata.done(function(data){
                if (!data) {
                    return false;
                }

                $(".ui.header.title").html(data.app_name);
                if (data.only_handle_centrally) {
                    $("#only_handle_centrally").html("YES");
                } else {
                    $("#only_handle_centrally").html("NO");
                }

                if (data.handled_centrally_by) {
                    $("#handled_centrally_by").html(data.handled_centrally_by);
                } else {
                    $("#handled_centrally_by").html("none");
                }
                
                if (data.exclude_for_external_supplier) {
                    $("#exclude_for_external_supplier").html("YES");
                } else {
                    $("#exclude_for_external_supplier").html("NO");
                }

                if (data.software_development_relevant) {
                    $("#software_development_relevant").html("YES");
                } else {
                    $("#software_development_relevant").html("NO");
                }

                if (data.cloud_only) {
                    $("#cloud_only").html("YES");
                } else {
                    $("#cloud_only").html("NO");
                }

                if (data.physical_security_only) {
                    $("#physical_security_only").html("YES");
                } else {
                    $("#physical_security_only").html("NO");
                }

                if (data.personal_security_only) {
                    $("#personal_security_only").html("YES");
                } else {
                    $("#personal_security_only").html("NO");
                }
                
                console.log(data);
            });
        }

        function showControls() {
            var controls = $.get({
                url: '{{.ApiURL}}/apps/{{.SelectedAppID}}/controls', 
                dataType: 'json'
            });
            
            controls.done(function(data) {
                $('#results').empty();

                if (!data) {
                    $('#results').append($("<div>", {class:"item", text:"(no controls found)"}));
                    return false;
                }

                if (data.error) {
                    alert(data.error);
                    return false;
                }

                $.each(data, function(index, element) {
                    content = $('<div>', {
                        class: "content",
                        text: element.control_id + " - " + element.control_name
                    });
                    btn = $('<div>', {
                        class: "ui button validate",
                        text: "Validate",
                        "data-id": element.control_id
                    });
                    if (element.is_done) {
                        btn = $('<div>', {
                            class: "ui green button",
                            text: "Done",
                            "data-id": element.control_id
                        });
                    }
                    rightContent = $('<div>', {
                        class: "right floated content"
                    });
                    rightContent.append(btn);
                    item = $('<div>', {
                        class: "item"
                    });
                    item.append(rightContent);
                    item.append(content);
                    
                    $('#results').append(item);
                });
                console.log(data);

                $(".ui.button.validate").on("click", function(event) {
                    event.preventDefault();

                    var lnk = "/apps/{{.SelectedAppID}}/controls/"+$(this).data().id+"/";
                    window.location.href = lnk;

                    return false;
                });
            });
            }

        $(window).on('load', function() {
            $(".ui.accordion").accordion();
            showAppMetadata();
            showControls();
        });
        </script>
    </div>
</body>
</html>
{{ end }}