{{ define "filters"}}
{{ template "head" }}
</head>

<body>
    <div class="ui container">
        <h1 class="ui header">Application properties</h1>
        {{ template "form" }}
        <div class="ui segment" id="results">
    </div>
    </div>
</body>
</html>
{{ end }}