{{ define "form" }}

<form class="ui form">
    <div class="ui vertical segment">
        <div class="fields">
            <div class="twelve wide field">
                <label>Name</label>
                <div class="ui search">
                    <div class="ui icon input">
                        <input class="prompt" type="text" name="appName" id="appName" placeholder="application name">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
            <div class="four wide field">
                <label>ID</label>
                <input type="text" name="appID" id="appID" placeholder="application id">
            </div>
        </div>
        <div id="classification"></div>
    </div>
    <div class="ui vertical segment">
        <h4 class="ui header">General or specific  controls for specific roles (handled centraly only, not for system/data owners)?</h4>
        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" name="centralOnly" id="centralOnly" tabindex="0" class="hidden">
            </div>
        </div>
    </div>
    <div class="ui vertical segment">
        <div class="field">
            Owner of central controls is
            <div class="ui inline scrolling dropdown">
                <input type="hidden" name="ownerCentralOnly" id="ownerCentralOnly" value="IT SPO">
                <div class="text">IT SPO</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" data-value="IT SPO">IT SPO</div>
                    <div class="item" data-value="IT BISO">IT BISO</div>
                    <div class="item" data-value="IT BCO">IT BCO</div>
                    <div class="item" data-value="IT Managers">IT Managers</div>
                    <div class="item" data-value="IT Asset Manager">IT Asset Manager</div>
                    <div class="item" data-value="CAR CA45">CAR CA45</div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui vertical segment">
        <h4 class="ui header">Exclude controls for only external supplier?</h4>
        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" name="onlyExternalSupplier" id="onlyExternalSupplier" tabindex="0" class="hidden">
            </div>
        </div>
    </div>
    <div class="ui vertical segment">
        <h4 class="ui header">Software development relevant?</h4>
        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" name="softwareDev" id="softwareDev" tabindex="0" class="hidden">
            </div>
        </div>
    </div>
    <div class="ui vertical segment">
        <h4 class="ui header">Cloud only?</h4>
        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" name="cloudOnly" id="cloudOnly" tabindex="0" class="hidden">
            </div>
        </div>
    </div>
    <div class="ui vertical segment">
        <h4 class="ui header">Physical security only?</h4>
        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" name="physicalSecOnly" id="physicalSecOnly" tabindex="0" class="hidden">
            </div>
        </div>
    </div>
    <div class="ui vertical segment">
        <h4 class="ui header">Personal security only?</h4>
        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" name="persSecOnly" id="persSecOnly" tabindex="0" class="hidden">
            </div>
        </div>
    </div>
    <div class="ui vertical segment">
        <div class="ui filter fluid button" tabindex="0">Filter controls</div>
    </div>
</form>
<script>
$(".ui.search")
    .search({
    apiSettings: {
      url: '//127.0.0.1:8080/apps/search/remote?q={query}',
      onResponse: function(remoteResp) {
        var response = { results: []};
        var maxResults = 8;
        $.each(remoteResp.Assets, function (index, item) {
            if (index >= maxResults) { return false; }

            var name = item.MetaData.AsssetApplicationMetadata.ApplicationName;
            var id = item.MetaData.AsssetApplicationMetadata.ApplicationId;

            response.results.push({
                appId: id,
                title: name,
                description: id + " " + name,
                all: item
            });
        });
        return response;
      }
    },
    onSelect: function(result, response) {
        console.log('result', result);
        console.log('response', response);
        $("#appID").val(result.appId);

        var fromIFactsGenSection = $.get({
            url:'//127.0.0.1:8080/ifacts/api/v1/assets/getgeneralsection/'+result.all.Id,
            contentType: 'application/json',
            dataType: 'json',
            complete: function(data) {
                console.log("response from iFacts", data);
            }
        });

        fromIFactsGenSection.done(function(data) {
            classif = $("#classification");
            classif.html("");
            classif.append($("<p>", {
                text: 'Description: ' + data.Description
            }));
            classif.append($("<p>", {
                text: 'C: ' + data.Confidentiality
            }));
            classif.append($("<p>", {
                text: 'I: ' + data.Integrity
            }));
            classif.append($("<p>", {
                text: 'A: ' + data.Availability
            }));
            classif.append($("<p>", {
                text: 'T: ' + data.Traceability
            }));
        });

        return true;
    },
    fullTextSearch: false,
    searchOnFocus: true,
    minCharacters : 3
  })
;

$("#qryAppByName").on("click", function (event) {
    event.preventDefault();

    appName = $("#appName").val();
    if (appName == "") {
        alert("Need an application name");
        return;
    }
    
    $("#appName").parent().toggleClass("loading");
    $("#qryAppByName").toggleClass("link");
    console.log("calling iFacts");

});

$('.ui.inline.dropdown')
  .dropdown({
    clearable: true
    })
;
$('.ui.checkbox')
  .checkbox()
;

$('.ui.filter.button').on('click', function(event) {
    event.preventDefault();

    var data = {
      app_id: $("#appID").val(),
      app_name: $("#appName").val(),
      only_handle_centrally: isChecked("centralOnly"),
      handled_centrally_by: $("#ownerCentralOnly").val(),
      exclude_for_external_supplier: isChecked("onlyExternalSupplier"),
      software_development_relevant: isChecked("softwareDev"),
      cloud_only: isChecked("cloudOnly"),
      physical_security_only: isChecked("physicalSecOnly"),
      personal_security_only: isChecked("persSecOnly")
    };

    var posting = $.post({
        url: '//127.0.0.1:8080/controls/', 
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify(data)
    })
    
    posting.done(function(data) {
        $('#results').empty();
        $.each(data, function(index, element) {
            $('#results').append($('<div>', {
                text: element.ID + "-" + element.Name
            }));
        });
        console.log(data);
    });
});

function isChecked(id) {
    return $("#" + id).parent().hasClass("checked");
}

</script>
{{ end }}