{{ define "form" }}

<form class="ui form">
    <div class="ui vertical segment">
        <div class="fields">
            <div class="twelve wide field">
                <label>Name</label>
                <div class="ui search">
                    <div class="ui icon input">
                        <input class="prompt" type="text" name="appName" id="appName" placeholder="application name">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
            <div class="four wide field">
                <label>ID</label>
                <input type="text" name="appID" id="appID" placeholder="application id">
            </div>
        </div>
        <div id="classification"></div>
    </div>
    <div class="ui vertical segment">
        <div class="four fields">
            <div class="field">
                <label data-tooltip="Ensuring information is only accessible to those who are authorized and not disclosed to unauthorized individuals, entities or processes.">Confidentiality (C)</label>
                <select class="ui fluid dropdown classif" id="classif-c">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="field">
                <label data-tooltip="Ensuring the accuracy and completeness of information to guarantee that the information remains unchanged, correct and complete.">Integrity (I)</label>
                <select class="ui fluid dropdown classif" id="classif-i">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="field">
                <label data-tooltip="Ensuring information is accessible and useable by an authorized individual, entity or process when required.">Availability (A)</label>
                <select class="ui fluid dropdown classif" id="classif-a">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="field">
                <label data-tooltip="Ensuring that the origin of the information and any changes to it can be verified.">Traceability (T)</label>
                <select class="ui fluid dropdown classif" id="classif-t">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
    </div>
    <div class="ui vertical segment">
        <h4 class="ui header">General or specific  controls for specific roles (handled centraly only, not for system/data owners)?</h4>
        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" name="centralOnly" id="centralOnly" tabindex="0" class="hidden">
            </div>
        </div>
    </div>
    <div class="ui vertical segment">
        <div class="field">
            Owner of central controls is
            <div class="ui inline scrolling dropdown">
                <input type="hidden" name="ownerCentralOnly" id="ownerCentralOnly" value="IT SPO">
                <div class="text">IT SPO</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" data-value="IT SPO">IT SPO</div>
                    <div class="item" data-value="IT BISO">IT BISO</div>
                    <div class="item" data-value="IT BCO">IT BCO</div>
                    <div class="item" data-value="IT Managers">IT Managers</div>
                    <div class="item" data-value="IT Asset Manager">IT Asset Manager</div>
                    <div class="item" data-value="CAR CA45">CAR CA45</div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui vertical segment">
        <h4 class="ui header">Exclude controls for only external supplier?</h4>
        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" name="onlyExternalSupplier" id="onlyExternalSupplier" tabindex="0" class="hidden">
            </div>
        </div>
    </div>
    <div class="ui vertical segment">
        <h4 class="ui header">Software development relevant?</h4>
        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" name="softwareDev" id="softwareDev" tabindex="0" class="hidden">
            </div>
        </div>
    </div>
    <div class="ui vertical segment">
        <h4 class="ui header">Cloud only?</h4>
        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" name="cloudOnly" id="cloudOnly" tabindex="0" class="hidden">
            </div>
        </div>
    </div>
    <div class="ui vertical segment">
        <h4 class="ui header">Physical security only?</h4>
        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" name="physicalSecOnly" id="physicalSecOnly" tabindex="0" class="hidden">
            </div>
        </div>
    </div>
    <div class="ui vertical segment">
        <h4 class="ui header">Personal security only?</h4>
        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" name="persSecOnly" id="persSecOnly" tabindex="0" class="hidden">
            </div>
        </div>
    </div>
    <div class="ui vertical segment">
        <div class="ui save fluid button" tabindex="0">Save</div>
    </div>
    <div class="ui vertical segment">
        <div class="ui controls fluid button" tabindex="0">View controls</div>
    </div>
    <div id="results" class="ui segment hidden"></div>
</form>
<script>
$(".ui.search")
    .search({
    apiSettings: {
      url: '{{.ApiURL}}/apps/search/remote?q={query}',
      onResponse: function(remoteResp) {
        var response = { results: []};
        var maxResults = 8;
        $.each(remoteResp.Assets, function (index, item) {
            if (index >= maxResults) { return false; }

            var name = item.MetaData.AsssetApplicationMetadata.ApplicationName;
            var id = item.MetaData.AsssetApplicationMetadata.ApplicationId;

            response.results.push({
                appId: id,
                title: name,
                description: id + " " + name,
                all: item
            });
        });
        return response;
      }
    },
    onSelect: function(result, response) {
        console.log('result', result);
        console.log('response', response);
        $("#appID").val(result.appId);

        var fromIFactsGenSection = $.get({
            url:'{{.ApiURL}}/ifacts/api/v1/assets/getgeneralsection/'+result.all.Id,
            contentType: 'application/json',
            dataType: 'json',
            complete: function(data) {
                console.log("response from iFacts", data);
            }
        });

        fromIFactsGenSection.done(function(data) {
            classif = $("#classification");
            classif.html("");
            classif.append($("<p>", {
                text: 'Description: ' + data.Description
            }));
            classif.append($("<p>", {
                text: 'C: ' + data.Confidentiality
            }));
            classif.append($("<p>", {
                text: 'I: ' + data.Integrity
            }));
            classif.append($("<p>", {
                text: 'A: ' + data.Availability
            }));
            classif.append($("<p>", {
                text: 'T: ' + data.Traceability
            }));
        });

        return true;
    },
    fullTextSearch: false,
    searchOnFocus: true,
    minCharacters : 3
  })
;

$("#qryAppByName").on("click", function (event) {
    event.preventDefault();

    appName = $("#appName").val();
    if (appName == "") {
        alert("Need an application name");
        return;
    }
    
    $("#appName").parent().toggleClass("loading");
    $("#qryAppByName").toggleClass("link");
    console.log("calling iFacts");

});

$('.ui.inline.dropdown')
  .dropdown({
    clearable: true
    })
;
$('.ui.checkbox')
  .checkbox()
;

$('.ui.controls.button').on('click', function(ev) {
    ev.preventDefault();

    var data = {
      app_internal_id: parseInt($("#appID").val(), 10),
      app_name: $("#appName").val(),
      only_handle_centrally: isChecked("centralOnly"),
      handled_centrally_by: $("#ownerCentralOnly").val(),
      exclude_for_external_supplier: isChecked("onlyExternalSupplier"),
      software_development_relevant: isChecked("softwareDev"),
      cloud_only: isChecked("cloudOnly"),
      physical_security_only: isChecked("physicalSecOnly"),
      personal_security_only: isChecked("persSecOnly"),
      classif_c: parseInt($("#classif-c").val(), 10),
      classif_i: parseInt($("#classif-i").val(), 10),
      classif_a: parseInt($("#classif-a").val(), 10),
      classif_t: parseInt($("#classif-t").val(), 10)
    };

    var posting = $.post({
        url: '{{.ApiURL}}/controls/filter/', 
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify(data)
    });
    
    posting.done(function(data) {
        if (data && data.error) {
            alert(data.error);
            return false;
        }

        $('#results').empty();
        $.each(data, function(index, element) {
            $('#results').append($('<div>', {
                text: element.ID + "-" + element.Name
            }));
        });
        if (data) {
            $('#results').toggleClass('hidden');
            console.log(data);
        }
    });
});

$('.ui.save.button').on('click', function(event) {
    event.preventDefault();

    // TODO validate input

    var data = {
      app_internal_id: parseInt($("#appID").val(), 10),
      app_name: $("#appName").val(),
      only_handle_centrally: isChecked("centralOnly"),
      handled_centrally_by: $("#ownerCentralOnly").val(),
      exclude_for_external_supplier: isChecked("onlyExternalSupplier"),
      software_development_relevant: isChecked("softwareDev"),
      cloud_only: isChecked("cloudOnly"),
      physical_security_only: isChecked("physicalSecOnly"),
      personal_security_only: isChecked("persSecOnly"),
      classif_c: parseInt($("#classif-c").val(), 10),
      classif_i: parseInt($("#classif-i").val(), 10),
      classif_a: parseInt($("#classif-a").val(), 10),
      classif_t: parseInt($("#classif-t").val(), 10)
    };

    var posting = $.post({
        url: '{{.ApiURL}}/apps/', 
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify(data)
    });
    
    posting.done(function(data) {
        if (data.error) {
            alert(data.error);
            return false;
        }

        console.log(data);
        window.location = '/apps/' + data.id;
        return false;

        $('#results').empty();
        $.each(data, function(index, element) {
            $('#results').append($('<div>', {
                text: element.ID + "-" + element.Name
            }));
        });
        console.log(data);
    });
});

function isChecked(id) {
    return $("#" + id).parent().hasClass("checked");
}

$(".ui.dropdown.classif").dropdown();

</script>
{{ end }}