{{ define "head" }}
<!doctype html>
<html>
<head>
    <title>{{ . }}</title>
    <link rel="apple-touch-icon" size="180x180" href="/static/assets/apple-touch-icon.png">
    <link rel="icon" size="32x32" href="/static/assets/favicon-32x32.png">
    <link rel="icon" size="16x16" href="/static/assets/favicon-16x16.png">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <style>
        html {
          font-family: "ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji"
        }
     </style>
{{ end }}