{{ define "validateControls" }}

<div class="ui ordered fluid steps">
    <div class="completed step">
        <div class="content">
        <div class="title">Application</div>
        <div class="description">Choose application</div>
        </div>
    </div>
    <div class="completed step">
        <div class="content">
        <div class="title">Filters</div>
        <div class="description">Choose filters</div>
        </div>
    </div>
    <div class="active step">
        <div class="content">
        <div class="title">Controls</div>
        <div class="description">View matching controls</div>
        </div>
    </div>
</div>

<form class="ui form">
    <p><a href="/apps">&lt; All apps</a></p>
    <div class="ui vertical clear segment">
        <h2 class="ui header title">Show template for app {{ .SelectedAppID }}</h2>
        <div class="ui middle aligned divided list" id="results"></div>
    </div>
    <div class="ui vertical clear segment">
        <div class="ui save right floated button" tabindex="0">Save</div>
    </div>

</form>
<script>
    function showAppMetadata() {
        var metadata = $.get({
            url: '{{.ApiURL}}/apps/{{.SelectedAppID}}',
            dataType: 'json'
        });

        metadata.done(function(data){
            if (!data) {
                return false;
            }

            $(".ui.header.title").html(data.app_name);
            
            console.log(data);
        });
    }

    function showControls() {
        var controls = $.get({
            url: '{{.ApiURL}}/apps/{{.SelectedAppID}}/controls/preview', 
            dataType: 'json'
        });
        
        controls.done(function(data) {
            $('#results').empty();

            if (!data) {
                $('#results').append($("<div>", {class:"item", text:"(no controls found)"}));
                return false;
            }

            if (data.error) {
                alert(data.error);
                return false;
            }

            $.each(data, function(index, element) {
                content = $('<div>', {
                    class: "content",
                    text: element.ID + " - " + element.Name 
                });
                item = $('<div>', {
                    class: "item"
                });
                item.append(content);
                
                $('#results').append(item);
            });
            console.log(data);
        });
        }

    $(window).on('load', function() {
        showAppMetadata();
        showControls();
    });

    $('.ui.save.button').on('click', function(event) {
        event.preventDefault();

        var posting = $.post({
            url: '{{.ApiURL}}/apps/{{.SelectedAppID}}/controls', 
            contentType: 'application/json',
            dataType: 'json'
        });
        
        posting.done(function(data) {
            if (data.error) {
                alert(data.error);
                return false;
            }

            window.location = '/apps/{{.SelectedAppID}}';
            return false;
        });
    });


</script>
{{ end }}